{{> header }}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container" style="padding-right: 155px">
        <h1>Welcome to Mimo</h1>

        <p>Mimo is a API or HTTP Mocking system with advanced ability to use JavaScript to write your own
            responses including headers, body and formatting. Read the docs for all the functions.</p>
        <br/>
        <p><a class="btn btn-info btn-lg pull-right" role="button"  href="/docs">Read The
            Docs &raquo;</a></p>

        <p><a class="btn btn-primary btn-lg" role="button" href="/signup">Get Started &raquo;</a></p>
    </div>
</div>

<!--<div class="container">-->
<!--&lt;!&ndash; Example row of columns &ndash;&gt;-->
<!--<div class="row">-->
<!--<div class="col-md-4">-->
<!--<h2>What it Does</h2>-->
<!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>-->
<!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
<!--</div>-->
<!--<div class="col-md-4">-->
<!--<h2>How It Works</h2>-->
<!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>-->
<!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
<!--</div>-->
<!--<div class="col-md-4">-->
<!--<h2>Read the Docs</h2>-->
<!--<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>-->
<!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
<!--</div>-->
<!--</div>-->


{{> footer }}